/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Colores */
:root {  /* Mode 1 */  /* colors */ 
  --blanco: #ffffff; 
  --cian: #4bbfb4; 
  --marron: #732929;  
  --negro: #000000;  
  --rojo: #f23d3d;  
  --turquesa: #3b8c84;
}
/* ******************************** */
