/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "Roboto";
  src: url("../font/roboto-regular-webfont.woff") format("woff2"), 
       url("../font/roboto-regular-webfont.woff2") format("woff");
}

/* ******************************** */

/* Colores */
:root {  /* Mode 1 */  /* colors */ 
  --blanco: #ffffff; 
  --cian: #4bbfb4; 
  --marron: #732929;  
  --negro: #000000;  
  --rojo: #f23d3d;  
  --turquesa: #3b8c84;
}
/* ******************************** */
/* GENERICO */
html{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
